<h1>Choose Date Page </h1>
<h6>Do not Select any Date to get all reservations of Bus</h6>

<%= form_with(model: @bus, url: bus_owner_bus_reservations_path(@bus, dateofjourney: "dummy"), local: true, method: :get ,data: { action: 'submit->form#submitForm' }) do |form| %>
    <%= form.label:"Date Of Journey" %>
    <%= form.date_field:dateofjourney ,min: Date.today.to_s ,class: "p-2"%>
    <%= form.submit "Submit Date" ,class:"btn btn-primary"%>
<% end %>